body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: blue;
    overflow: hidden;
}

.container {
    text-align: center;
}

.animated-text {
    font-size: 36px;
    animation: slide 5s linear infinite alternate;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

.image-container {
    margin-top: 20px;
}

#imagePreview {
    margin-top: 20px;
    display: none;
}
